/url/cache
eln-cache/
/.emacs.desktop
/auto-save-list
/.session
/custom.el
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
.DS_Store
org-roam.db
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
org-clock-save.*
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
lisp/local-conf-body.el
site-lisp/package/
/swank
/.mc-lists.el
/var
tmp/
tmp/cache/
tmp/backup/
eshell/
recentf
server
packages/
network-security.data

org-roam.db
